.background {
    background-image: url("../images/back.jpeg");
    height: 650px;
    background-position: top;
    background-repeat: no-repeat;
}

.overlayer {
    background-color: rgba(0, 0, 0, 0.543);
    height: 650px;
}

.landing h1 {
    color: white;
    letter-spacing: 1.5;
    font-style: inherit;
    /* color: darkred; */
    /* font-family: fantasy; */
    padding: 20px;
}

.landing p {
    color: white;
    font-weight: lighter;
    padding-left: 20px;
    font-size: small;
}

.buttons {
    display: flex;
    padding: 20px;
}

.buttons a {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: lighter;
    font-size: small;
    border: 0;
}

.red {
    background-color: red;
    border-radius: 5px;
    margin: 20px;
    border: 0;
}

.blue {
    background-color: blue;
    border-radius: 5px;
    margin: 20px;
}